.search-list-handler {
  width: 200px;
  background-color: #fff;
  position: absolute;
  max-height: 15rem;
  overflow-y: auto;
  /* margin-top: 2rem; */
  /* z-index: 9000;*/
}
.search-list {
  display: flex;
  padding: 0 10px;
}

.search-list-img img {
  width: 50px;
  height: 75px;
  border-radius: 5px;
}

.search-list h3 {
  font-size: 0.8rem;
  padding: 10px;
}

.search-input {
  width: 200px;
  height: 40px;
  border-radius: 6px;
  background-color: #222028;
  border: 2px solid transparent;
  font-size: 16px;
  color: #fff;
  padding: 0 50px 0 20p;
  outline: none;
}
.search-input:focus {
  border: 2px solid #f9ab00;
  transition: 0.4s;
  width: 250px;
}
