/* .movies-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */
/* .movie { */
/* padding: 20px; */
/* box-shadow: 0 0 10px #ccc; */
/* border-radius: 15px; */
/* margin: 50px 0 0 0; */
/* border: #ccc; */
/* color: #fff; */
/* } */
/* .movie-image img {
  width: 160px;
  border-radius: 6px;
}
.movie-content {
  position: relative;
  display: block;
  margin-top: 10px;
  width: 100%;
  color: #fff;
}
.movie-content h3 {
  font-size: 1em;
} */
