.slider {
  padding-top: 50px;
}
.slider-item img {
  max-width: 200px;
  border-radius: 5px;
}
.movie-title {
  font-size: 22px;
  color: #fff;
  padding: 8px 0;
}
.movie-title:hover {
  color: #f9ab00;
  transition: 0.4s;
}
